*{
    margin: 0;
    padding: 0;
    font: 12px Arial, sans-serif;
    color: rgb(60,60,60);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html,body{
    height: 100%;
    background-color: rgb(240,240,240);
}
/*navigation*/
#nav{
    position: relative;
    width: 100%;
    height: 100px;
    background: rgb(100,100,140);
    /*background: linear-gradient(rgb(50,50,50), rgb(30,30,30));*/
    z-index: 10;
    box-shadow: 0px 5px 0px 0px rgb(70, 70, 110), 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}
    #home_navbtn{
        width: 60px;
        height: 60px;
        margin: 15px;
        transition: all 0.2s ease;
        background-color:white;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,0.5)
    }
    #home_navbtn:hover{
        opacity: 0.9;
        background-color: rgb(255,230,230);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0,0.4)
    }
    #home_navbtn.active{
        background-color: rgb(255,255,255);
    }
    #home_navbtn.active:hover{
        background-color: rgb(220,220,255);
    }

    #navbtns{
        margin: 10px;
        float: right;
    }
    #navbtns div{
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        display: inline-block;
        padding: 0.5em;
        margin: 10px;
        top: 0;
	cursor: pointer;
	background: white;
	border-radius: 0.5em;
	
        box-shadow: 0px 4px rgb(60, 60, 80);
	
	color: rgb(80,80,80);
	line-height: 36px;
	text-align: center;
	
	transition: all 0.3s ease;
    }
        #navbtns div:hover{
            /*
            background: rgb(160,140,250);
            box-shadow: 0px 4px rgb(100,90,210);
            */
            background: rgb(250,140,140);
            box-shadow: 0px 4px rgb(200,40,40);
            color: white;
        }
        #navbtns div:active, #navbtns .active{
            box-shadow: 0px 0px #6b54d3;
            top: 4px;
        }
        #navbtns .active:hover{
            background: #9c89f6;
            color: white;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        }
/*wapper, mostly for making sure footer is always at screen bottom. contains top navigation and main*/
#wrap{
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;/*footer height*/
    position: relative;
}
/*footer*/
#footerwrapper{
    position: relative;
    margin-top: -100px;/*footer height*/
    height: 100px;/*footer height*/
    background-color: rgb(100,100,140);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
    #footertop{
        position: absolute;
        width: 100px;
        height: 100px;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        border-top-left-radius:50px;
        border-top-right-radius:50px;
        background-color: rgb(100,100,140);
        box-shadow: 0px -7px 10px -5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        z-index: -1;
    }
    #footertop:hover{
        transform: translate(-50%,-60%);
    }
    #footernav{
        text-align: center;
    }
    #footernav div{
        font-size: 1.3em;
        color: rgb(220,220,220);
        padding: 1em;
        display: inline-block;
    }
    #footernav div{
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
        #footernav div:hover{
            color: rgb(250,150,100);/*HOVER COLOR*/
        }
        #footernav div.active{ /*same as hover*/
            color: rgb(150,150,255);/*HOVER COLOR*/
        }
/*mainwrapper. contains main*/
.mainwrapper{
    z-index: 0;
    padding-bottom: 70px;
}
.main{
    display: none;
}
/*dark and light segments. cannot have a dark element before footer*/
.dark{
    background-color: rgb(240,240,240);
    box-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.1);
    border-bottom: #dddddd solid 1px;
}
.light{
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.dark, .light{
    display: block;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


/*general styles*/
/*links*/
a,.link{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
    a:hover, .link:hover{
        color: rgb(250,150,100);/*HOVER COLOR*/
    }
    a.active, .link.active{ /*same as hover*/
        color: rgb(250,150,100);/*HOVER COLOR*/
    }
