div{
	border: 3px solid #00FFFF;
	border-radius: 10px;
}
p{
	color:red;
}
.header{
	height:50px;
	margin:5px;
	margin-top:-20px;	
}
#board{
	margin:5px;	
	
}
.cell{
	height:100px;
	width:100px;
	border: 5px solid #EE0000;
	display: inline-block;
	margin: 5px;
}

