#wrapper{
	width:800px;
	margin-left: auto;
 	margin-right: auto;
}
#right{
	width:300px;	
	float:right;
}
#printCode{
	margin:0;	
}
#status li{
	list-style-type: none;
}
#status{
	padding: 0;
    list-style-type: none;
	display:compact;	
	margin:0;
}
#progress{
	height:20px;
	width:400px;
	display:compact;
	margin:0;
}
.progressBar{
	background-color:#66FFFF;
	height:20px;
	width:100%;
	visibility:hidden;
	position:relative;
	top:-50px;
	z-index:-1; 
}
.progressbarStatus{
	position:relative;
	position:relative;
	top:-15px;
	text-align:center;
}
.codeBtns{
	display:inline-block;
	border:2px solid;
	border-radius:5px;
	border-color:grey;
	display:none;
	width:100px;
	text-align:center;
}
.terminalWindow{
	margin-top:5px;
	width:400px;
	border-radius:5px;
	border-style: double;
	border-color: black;
}
.terminal p{
	padding:0px;	
	margin:1px;
}
.taskBar{
	width:100%;	
	text-align:center;
	display:inline-block;
	border-bottom:1px solid;
	border-color:black;
}
.taskBarTitle{
	margin:0;	
	display:inline;
}
.taskBtn{
	width:20px;
	height:20px;
	text-align:center;
	margin:2px;
	display:inline-block;
	float:right;
	border-color: black;
	border-radius:5px;
	border: 1px solid;	
}
.taskBtn:hover{
	background-color:rgb(220,220,220);	
}

