#progressbar{
	background-color:#0000FF;
	height:20px;
	width:200px;
	visibility:hidden;
}
#terminal{
	border-style: double;
	border-color: black;
	visibility: hidden;
}
.codeBtns{
	visibility: hidden;
}
ul li{
	list-style-type: none;
}